.videoPlayerContainer {
    position: relative;
}

.video {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.showControler {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    color: white;
}

.centerPlayPauseButton {
    display: none;
}

.loading {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-size: 100px;
    animation: fade 300ms ease-out;
}

.centerPlayPauseButtonActive {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: 1;
    font-size: 100px;
    animation: fade 300ms ease-out;
}

.controlerContainer {
    position: absolute;
    bottom: 5px;
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    z-index: 5;
    opacity: 0;
    transition: all 0.5s ease-out;
    cursor: default;
    border-radius: 0px 0px 10px 10px;
}

.showControler:hover .controlerContainer {
    opacity: 1;
    transition: all 0.2s ease-out;
}

.controlers {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.leftControler {
    display: flex;
    justify-content: center;
    align-items: center;
}

.progressRange {
    -webkit-appearance: none;
    margin-right: 15px;
    width: 100%;
    height: 7px;
    background: #2B2F31;
    border-radius: 5px;
    background-image: linear-gradient(dodgerblue, dodgerblue);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    transition: height 0.1s ease-in-out;
    cursor: pointer;
}

.progressRange:hover {
    height: 12px;
}

.progressRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: dodgerblue;
    cursor: pointer;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
}

.progressRange::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

.progressBar {
    background: dodgerblue;
    width: 0%;
    height: 100%;
    border-radius: 10px;
    transition: all linear;
}

.playPauseButton {
    cursor: pointer;
    font-size: clamp(2rem, 2.5vw, 5rem);
}

.playPauseButton:hover {
    color: dodgerblue;
}

.rightControler {
    display: flex;
    justify-content: center;
    align-items: center;
}

.time {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: clamp(0.8rem, 2.5vw, 1rem);
}

.speed {
    margin-left: clamp(0.8rem, 2.5vw, 1rem);
    margin-right: clamp(0.8rem, 2.5vw, 1rem);
}

.speedSelect {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    cursor: pointer;
    font-weight: bolder;
    font-size: clamp(0.8rem, 2.5vw, 1rem);
    display: grid;
}

.fullscreenIcon {
    display: flex;
    cursor: pointer;
    font-size: clamp(1.5rem, 2.5vw, 2rem);
}

.volumeIcon {
    display: flex;
    cursor: pointer;
    font-size: clamp(2rem, 2.5vw, 5rem);
}

.volune {
    -webkit-appearance: none;
    margin-right: 15px;
    width: 100px;
    height: 7px;
    background: #2B2F31;
    border-radius: 5px;
    background-image: linear-gradient(dodgerblue, dodgerblue);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}

.volune::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: dodgerblue;
    cursor: pointer;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
}

.volune::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

@media screen and (max-width: 800px) {
    .controlerContainer {
        height: auto;
    }

    .leftControler {
        display: none;
    }

    .rightControler {
        width: 100%;
        justify-content: flex-end;
    }

    .time {
        margin-right: auto;
    }

    .progressRange {
        height: 12px;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* for tiny player */
.tinyVideoPlayerContainer {
    position: relative;
    transition: all .2s ease-in-out;
}

.tinyVideoPlayerContainer:hover {
    transform: scale(1.1);
    z-index: 2;
}

.providerContainer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
    z-index: 5;
    opacity: 0;
    transition: all 0.5s ease-out;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 600;
    color: white;
}

.providerLink {
    margin: 0 0.5rem;
    height: fit-content;
}

.tinyVideoPlayerContainer:hover .providerContainer {
    opacity: 1;
    transition: all 0.2s ease-out;
}

@media screen and (max-width: 800px) {
    .tinyVideoPlayerContainer:hover {
        transform: scale(1);
        z-index: 2;
    }

    .providerContainer {
        opacity: 1;
        font-size: 20px;
        flex-wrap: wrap;
        height: fit-content;
    }
}
/*  */