.videoContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.centerItemsContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: clamp(0rem, 10vw, 10rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemsContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  color: #fff;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchButton {
  margin: 2rem;
}

.categoriesContainer {
  margin: clamp(0rem, 10vw, 10rem) auto;
  max-width: 90vw;
  height: 100%;
}

.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.embla {
  overflow: hidden;
}
.emblaContainer {
  display: flex;
}
.emblaSlide {
  flex: 0 0 100%;
}

@media screen and (max-width: 800px) {
  .centerItemsContainer {
    padding: 0px;
  }
}